*pycache__
*.pyc
*.DS_Store

projet2I013/__pycache__/robot.cpython-36.pyc
projet2I013/__pycache__/arene.cpython-36.pyc
projet2I013/__pycache__/robot.cpython-36.pyc

Rapport/Projet2I013_FiveGuys.aux
Rapport/Projet2I013_FiveGuys.log
Rapport/Projet2I013_FiveGuys.synctex.gz
*.pyc
