*pycache__
*.pyc
*.DS_Store

projet2I013/__pycache__/robot.cpython-36.pyc
projet2I013/__pycache__/arene.cpython-36.pyc
projet2I013/__pycache__/robot.cpython-36.pyc

Rapport/Projet2I013_FiveGuys.aux
Rapport/Projet2I013_FiveGuys.log
Rapport/Projet2I013_FiveGuys.synctex.gz
*.pyc
projet/modele/__pycache__/strategie.cpython-36.pyc
*.pyc
projet/modele/__pycache__/strategie.cpython-36.pyc
projet/modele/__pycache__/strategie.cpython-36.pyc
projet/modele/__pycache__/strategie.cpython-36.pyc
projet/modele/__pycache__/robotreel.cpython-36.pyc
projet/interface/__pycache__/affichage.cpython-36.pyc
projet/interface/__pycache__/affichage.cpython-36.pyc
projet/interface/__pycache__/affichage.cpython-36.pyc
projet/interface/__pycache__/affichage.cpython-36.pyc
